#dates
  h3 Departing range: 
    input(type='text', id='departStartDate', value=dates[0])

    input(type='text', id='departEndDate', value=dates[1])

#dates
  h3 Returning range: 
    input(type='text', id='returnStartDate', value=dates[2])

    input(type='text', id='returnEndDate', value=dates[3])

#airports
  h3 
    span Origin:
    input(type='text', id='origin', value='POA')

    span Destination:
    input(type='text', id='destination', value="GIG")

#options
  input(type='button', id='submitItinerary', value='Find prices')

table(id='pricesGrid')