#dates
  h3 Departing range: 
    input(type='text', id='departStartDate', value='')

    input(type='text', id='departEndDate', value='')

#dates
  h3 Returning range: 
    input(type='text', id='returnStartDate', value='')

    input(type='text', id='returnEndDate', value='')

#airports
  h3 
    span Origin:
    input(type='text', id='origin', value='')

    span Destination:
    input(type='text', id='destination', value='')

#options
  input(type='button', id='submitItinerary', value='Find prices')

table(id='pricesGrid')