#dates
  h3 Departing range: 
    input(type='text', id='departStartDate', value='02/01/2013')

    input(type='text', id='departEndDate', value='02/03/2013')

#dates
  h3 Returning range: 
    input(type='text', id='returnStartDate', value='02/08/2013')

    input(type='text', id='returnEndDate', value='02/11/2013')

#airports
  h3 
    span Origin:
    input(type='text', id='origin', value='POA')

    span Destination:
    input(type='text', id='destination', value="GIG")

#options
  input(type='button', id='submitItinerary', value='Find prices')

table(id='pricesGrid')